OAH_APP_ENV=development
OAH_DATABASE_URL=postgresql+psycopg://oah:oah@postgres:5432/oah
OAH_REDIS_URL=redis://redis:6379/0
OAH_OPENHAB_URL=http://openhab:8080
OAH_JWT_SECRET=change-me
OAH_ADMIN_USERNAME=admin
# BCrypt hash for password admin123!
OAH_ADMIN_PASSWORD_HASH=$2b$12$VgYQtQw8Qw6xrg9puj949uj7s.aGQ7f2i6lwCf4ezV8v.7UbY5X3S
OAH_DISCOVERY_MAX_HOSTS=512
OAH_DISCOVERY_DRY_RUN_DEFAULT=true
OAH_EMERGENCY_STOP=false
OAH_READONLY_MODE=false
